<div class="text-center mt-5">
    <h1>Bienvenido, usuario</h1>
    <p class="lead">Consulta aqui todos tus juegos.</p>
    <a href="/login" class="btn btn-primary btn-lg">Acceder a mi colección</a>
</div>